<template name="item">

	<div class="tab-view-content">

		<div class="header">
			{{>backButton}}
			<h1>Item!</h1>
		</div>
		
		<div class="content">
			<p>Prosciutto leberkas flank turducken andouille, bresaola strip steak tenderloin kielbasa tri-tip alcatra. Spare ribs andouille short ribs, kielbasa shoulder jowl strip steak meatball ribeye. Tongue bresaola rump shank meatloaf brisket. Pancetta venison kielbasa, meatball pastrami ham hock beef ribs jerky cow pork belly tail. Jowl ribeye fatback boudin bacon cow leberkas meatball cupim sirloin tenderloin doner ham. Kielbasa chicken kevin, meatloaf drumstick hamburger pork belly ground round sirloin filet mignon jerky flank beef ribs leberkas.</p>

			{{#each list}}
				<div class="list-item">
					Line {{this}}: <a class="button" href="/item2" native-transition='{ "type": "fade", "direction": "up" }'>Item 2</a>
				</div>
			{{/each}}
			
		</div>


	</div>

</template>