<template name="item3">

	<div class="tab-view-content no-tabs">

		<div class="header">
			<a class="button" tab-history-back native-transition='{ "direction": "down" }'>&lsaquo;</a>
			<h1>Item no tabs!</h1>
		</div>

		<div class="content drag-to-go-back">
			<p>Tail shankle sirloin biltong. Alcatra sausage sirloin short loin, tongue ham shank tenderloin drumstick andouille beef ribs tri-tip venison chuck capicola. Ham t-bone shank picanha sausage filet mignon ribeye. Bresaola chicken bacon beef spare ribs jowl prosciutto porchetta pastrami swine venison leberkas tenderloin. Ground round jowl tri-tip spare ribs, kielbasa beef ribs cow andouille shoulder. Ham hock bacon prosciutto shankle beef ribs. Landjaeger shankle shank brisket tongue strip steak fatback venison meatloaf hamburger kevin boudin capicola tri-tip ground round.</p>
		</div>


	</div>

</template>