<template name="item2">

	<div class="tab-view-content">

		<div class="header">
			<a class="button" tab-history-back native-transition='{ "direction": "right", "fixedPixelsTop": 50, "fixedPixelsBottom": 50 }'>&lsaquo;</a>
			<h1>Different Item!</h1>
		</div>
		
		<div class="content">
			<h2>{{queryParam 'text'}}</h2>
			<p>
				{{#each list '10'}}
					{{queryParam 'text'}}
				{{/each}}
			</p>

			{{#each list}}
				<a class="list-item" href="/item3" native-transition='{ "direction": "up" }'>Slide Up {{this}}</a>
			{{/each}}
			
		</div>


	</div>

</template>