<template name="tab2">

	<div class="tab-view-content">

		<div class="header">
			<h1>Tab2!</h1>
		</div>

		<div class="content">
			<p>Porchetta turducken beef ribs, corned beef ground round meatball kielbasa ball tip landjaeger tongue pig frankfurter jowl leberkas. Chicken shank kielbasa chuck ribeye swine flank jowl. Shoulder turducken pancetta landjaeger, ham chuck t-bone pig jowl kevin. Ham hock corned beef capicola pork belly shank tri-tip.</p>

			<p><a href="/item?text=An item from tab 2. " class="button" native-transition={{fixedHeaderFixedFooter}}>Item</a></p>
		</div>

	</div>

</template>