<template name="tab3">

	<div class="tab-view-content">

		<div class="header">
			<h1>Tab3!</h1>
		</div>

		<div class="content">
			<p>Ham drumstick tri-tip bresaola t-bone, turkey shankle beef short loin ham hock kielbasa pastrami swine bacon cow. Short ribs kevin swine, pork chop shank shankle chicken pork belly sirloin ground round ball tip doner prosciutto tail porchetta. Pork alcatra sirloin frankfurter t-bone pastrami, pork chop strip steak flank. Shoulder spare ribs sirloin pork belly chicken filet mignon short ribs strip steak.</p>

			<p><a href="/item?text=An item from tab 3. " class="button" native-transition={{fixedHeaderFixedFooter}}>Item</a></p>
		</div>

	</div>

</template>