<template name="tab4">

	<div class="tab-view-content">

		<div class="header">
			<h1>Tab4!</h1>
		</div>

		<div class="content">
			<p>Pig jowl capicola ground round landjaeger drumstick. Tongue drumstick capicola porchetta. T-bone porchetta boudin tongue pork loin, spare ribs meatball prosciutto tri-tip ribeye. Ribeye spare ribs ham pancetta biltong bacon brisket pork loin. Ball tip leberkas t-bone pork chop ribeye tail spare ribs. Sausage meatloaf strip steak pastrami fatback boudin short loin biltong venison shank tail short ribs filet mignon. Salami pork belly swine ham cupim corned beef.</p>

			<a href="/item" class="button" native-transition={fixedHeaderFixedFooter}}>Item</a>
		</div>

	</div>

</template>