/* Hide tabs by default */
.tab-view-container {
	display: none; /* Initial state */
}

/* Show the current tab */
.tab-view-1 .tab-view-container.tab-view-1,
.tab-view-2 .tab-view-container.tab-view-2,
.tab-view-3 .tab-view-container.tab-view-3,
.tab-view-4 .tab-view-container.tab-view-4,
.tab-view-5 .tab-view-container.tab-view-5 {
	display: block;
}


/* Optional helper class, can be replaced for own content class */
.tab-view-content {
	background-color: #FFF;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.tab-view-content.no-tabs {
	z-index: 5;
}
